@import "tailwindcss";

/* https://m3.material.io/styles/color/roles */
@layer base {
  :root {
    --color-body: #ffffff;
    --color-surface: #ffffff;
    --color-on-surface: rgb(31, 34, 37);

    --color-primary: #18a058;
    --color-primary-hover: #36ad6a;
    --color-primary-pressed: #0c7a43;
    --color-on-primary: #ffffff;

    --color-error: #d03050;
    --color-outline: rgb(200, 200, 200);
    --color-outline-variant: rgb(239, 239, 245);
  }

  .dark {
    --color-body: #101014;
    --color-surface: #18181c;
    --color-on-surface: rgba(255, 255, 255, 0.9);

    --color-primary: #63e2b7;
    --color-primary-hover: #7fe7c4;
    --color-primary-pressed: #5acea7;
    --color-on-primary: #000000;

    --color-error: #e88080;
    --color-outline: rgba(255, 255, 255, 0.24);
    --color-outline-variant: rgba(255, 255, 255, 0.09);
  }
}

@theme {
  --color-body: var(--color-body);
  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-pressed: var(--color-primary-pressed);
  --color-on-primary: var(--color-on-primary);

  --color-error: var(--color-error);
  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);
}