(cors) {
	@origin{args[0]} header Origin {args[1]}
	header @origin{args[0]} {
		Access-Control-Allow-Origin "{args[1]}"
		Access-Control-Allow-Method *
		Access-Control-Allow-Credentials "true"
		Access-Control-Max-Age "3600"
	}
}

:80 {
	encode gzip

	handle {
		root * /dist
		file_server
		route {
			try_files {path} /
			header / Cache-Control "no-cache,no-store,max-age=0,must-revalidate"
		}
		header /assets/* Cache-Control "public, max-age=7776000"
		header /*.png Cache-Control "public, max-age=7776000"
		header /*.svg Cache-Control "public, max-age=7776000"
		header /*.webp Cache-Control "public, max-age=7776000"
	}

	handle_path /api* {
		reverse_proxy api:3000

		@options {
			method OPTIONS
		}
		respond @options 204
		import cors 1 https://books.fishhawk.com
		import cors 2 https://books1.fishhawk.com
		import cors 3 https://n.novelia.cc
		import cors 4 http://localhost:5173
	}
}
